body {
    /* Set background image */
    /* background-image: url("../images/grainy_bg.png"); */
    background-color: #252526;
    /* Make the background cover the entire viewport */
    background-size: cover;
    /* Optional: Center the background image */
    background-position: center;
    /* Optional: Fix the background image to prevent scrolling */
    background-attachment: fixed;
    /* Start from top left */
    margin: 0;
    padding: 0;
}

/* Outer container */
.outer-container {
    display: inline-flex;
    flex-direction: column;
    padding: 0px;
    gap: 0;
    width: 100%;
    height: 100%;
}

/* Header Container */
.header-container {
    background-color: #F6F6F6;
    padding: 24px 64px; 
    box-sizing: border-box;
    margin: 0;
    gap: 200px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

#left-aligned-container{
    width: 100%;
}

.right-aligned-container{
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;
    flex: none;
    justify-content: space-between;
    width: 75%;
}

.header-middle-btns{
    margin: 0 auto 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hoverable-text{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #252526;
}

.hoverable-text:hover{
    color: #E83636;
    cursor: pointer;
    transition: color 300ms ease;
}

.right-btns{
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 32px;
}

.header-svg-btn{
    display: inline-block;
}

.header-svg-btn:hover{
    cursor: pointer;
}

.header-svg-btn:hover path {
    fill: #E83636;
    transition: fill 300ms ease;
}
/* End Header Container */

/* Content */
.content-3{
    position: relative;
    width: 100%;
    height: 200px;
}

.content-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: brightness(100%);
    transition: filter 300ms ease-in-out;
}

.content-3 div{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F6F6F6;

    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.content-3:hover img{
    filter: brightness(10%);
    transition: filter 300ms ease-in-out;
}

.content-3:hover div{
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.content-1{
    background-image: url("../images/grainy_bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 40px;
    width: 100%;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.content-1 .header-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F6F6F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content-1 .outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 774px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.content-1 .header-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F6F6F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content-1 .description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F6F6F6;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.content-1 .header-3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #E83636;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.mission-vision-outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 774px;
    flex: none;
    flex-grow: 0;
}

.mission-vision-inner-container{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 375px;
    flex: none;
    flex-grow: 0;
}

.content-1 .header-4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.mission-vision-inner-container .frame img{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    filter: brightness(20%);
    box-sizing: border-box;
    border: 0.7px solid #FFFFFF;
    border-radius: 20px;
}

.mission-vision-inner-container .frame{
    position: relative;
    display: block;
    width: 100%;
    flex: none;
    flex-grow: 0;
}

.mission-vision-inner-container .frame .header-4{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.core-values-outer-container{
    position: relative;
    width: 774px;
    flex: none;
    flex-grow: 0;
}

.core-values-outer-container .core-values-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 20px;
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(37, 37, 38, 0.9);
}
/* End Content */

/* Footer container */
.footer-container{
    background-color: #F6F6F6;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 24px 64px;
    gap: 10px;
    max-width: 100%; 
    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer-container .frame{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.footer-container .frame div{
    display: inline-flex;
    width: 165px;
    height: 24px;
    top:50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #252526;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-container .frame .vector-container{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 145.31px;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
