body {
    /* Set background image */
    /* background-image: url("../images/grainy_bg.png"); */
    background-color: #252526;
    /* Make the background cover the entire viewport */
    background-size: cover;
    /* Optional: Center the background image */
    background-position: center;
    /* Optional: Fix the background image to prevent scrolling */
    background-attachment: fixed;
    /* Start from top left */
    margin: 0;
    padding: 0;
}

/* Outer container */
.outer-container {
    display: inline-flex;
    flex-direction: column;
    padding: 0px;
    gap: 0;
    width: 100%;
    height: 100%;
}

/* Header Container */
.header-container {
    background-color: #F6F6F6;
    padding: 24px 64px; 
    box-sizing: border-box;
    margin: 0;
    gap: 200px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

#left-aligned-container{
    width: 100%;
}

.right-aligned-container{
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;
    flex: none;
    justify-content: space-between;
    width: 75%;
}

.header-middle-btns{
    margin: 0 auto 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hoverable-text{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #252526;
}

.hoverable-text:hover{
    color: #E83636;
    cursor: pointer;
    transition: color 300ms ease;
}

.right-btns{
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 32px;
}

.header-svg-btn{
    display: inline-block;
}

.header-svg-btn:hover{
    cursor: pointer;
}

.header-svg-btn:hover path {
    fill: #E83636;
    transition: fill 300ms ease;
}
/* End Header Container */

/* Content */
.content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 40px;
    width: 100%;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.content-1 .header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F6F6F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.job-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    gap: 20px;
    width: 744px;
    background: #F6F6F6;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.job-container .left-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 400px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.job-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #242526;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.job-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #242526;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.job-details{
    width: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.next-btn:hover path {
    fill: #5d108a;
    transition: fill 300ms ease;
}

.next-btn:hover {
    cursor: pointer;
}

.content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 60px;
    width: 100%;
    background: #F9F2B0;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.content-2 .header-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.08em;
    color: #242526;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content-2 .header-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #242526;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.benefits-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 744px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.benefits-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 236px;
    background: #242526;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.benefits-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #E2E8F0;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.benefits-svg:hover path{
    fill: #E83636;
    transition: fill 300ms ease;
}

.lower-outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.why-join-us-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 726px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.why-join-us-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 20px;

    width: 168px;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.why-join-us-frame div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #242526;
}
.why-join-us-svg:hover path{
    fill: #2a7d0f;
    transition: fill 300ms ease;
}

.content-1 img{
    background: transparent;
}
/* End Content */

/* Footer container */
.footer-container{
    background-color: #F6F6F6;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 24px 64px;
    gap: 10px;
    max-width: 100%; 
    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer-container .frame{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.footer-container .frame div{
    display: inline-flex;
    width: 165px;
    height: 24px;
    top:50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #252526;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-container .frame .vector-container{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 145.31px;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
